**Loops in Python**

In [4]:
n = 10
i = 9
j = 5

while i<n:
  print("value i: ", i)
  while j<n:
    print("value j: ", j)
    j+=1
  i+=1

print("Came outside while loop")

value i:  9
value j:  5
value j:  6
value j:  7
value j:  8
value j:  9
Came outside while loop

In [5]:
team_score = [12,23,54,26,76,31]

i = 0
n = len(team_score)
total_score = 0

while i<n:
  print("iteration: ", i)
  total_score += team_score[i]
  print("total score: ", total_score)
  if total_score>=100:
    break
  i+=1

print("came out of loop")

iteration:  0
total score:  12
iteration:  1
total score:  35
iteration:  2
total score:  89
iteration:  3
total score:  115
came out of loop

In [6]:
team_score = [12,23,54,26,76,31]

i = 0
n = len(team_score)
total_score = 0

for score in team_score:
  print("score: -->", score)
  total_score += score
  print("total_score: -->", total_score)
  if total_score >= 100:
    break

print("Came out of for loop")

score: --> 12
total_score: --> 12
score: --> 23
total_score: --> 35
score: --> 54
total_score: --> 89
score: --> 26
total_score: --> 115
Came out of for loop

In [8]:
team_score = [12,23,54,26,76,31]

i = 0
n = len(team_score)
total_score = 0

for score in team_score:
  print("score: -->", score)
  total_score += score
  print("total_score: -->", total_score)
  if total_score>=100:
    break

score: --> 12
total_score: --> 12
score: --> 23
total_score: --> 35
score: --> 54
total_score: --> 89
score: --> 26
total_score: --> 115

In [12]:
team_scores = [[12,23,54,26,76,31], [12,34,54,23,53,23,53], [1,2,4,52,5]]

for curr_team_score in team_scores:
  total_score = 0
  print("curr team score: -->", curr_team_score)
  for score in curr_team_score:
    print("score: ", score)
    total_score += score
    print("total_score : -->", total_score)
    if total_score >= 100:
      break
  if len(curr_team_score) > 4:
    break

print("came out of for loop")

curr team score: --> [12, 23, 54, 26, 76, 31]
score:  12
total_score : --> 12
score:  23
total_score : --> 35
score:  54
total_score : --> 89
score:  26
total_score : --> 115
came out of for loop

### **Continue**

In [15]:
l = [12,32,0,-10,-5,200,100]

non_negative_value = 0

for value in l:
  print("value: ", value)
  if value<0:
    continue
  non_negative_value += value
  print("curr non negative value: ", non_negative_value)

print("final non_negative_value outside for loop: ",non_negative_value)

value:  12
curr non negative value:  12
value:  32
curr non negative value:  44
value:  0
curr non negative value:  44
value:  -10
value:  -5
value:  200
curr non negative value:  244
value:  100
curr non negative value:  344
final non_negative_value outside for loop:  344

In [16]:
l = [1,2,3,4,5,6,5,4,2]

for value in l:
  print("value: -->",value)
  if value==5:
    continue
  print("VENKY")
  print("Python")
  print("ANy value")

value: --> 1
VENKY
Python
ANy value
value: --> 2
VENKY
Python
ANy value
value: --> 3
VENKY
Python
ANy value
value: --> 4
VENKY
Python
ANy value
value: --> 5
value: --> 6
VENKY
Python
ANy value
value: --> 5
value: --> 4
VENKY
Python
ANy value
value: --> 2
VENKY
Python
ANy value

### **Pass**

In [21]:
l = [[9.5,8.2,7.3,5], [5.6,9.8,10,7.1,6], [6.2,7.5,9.3]]

for cgpa_list in l:
  for curr_cgpa in cgpa_list:
    print("curr_cgpa: ", curr_cgpa)
    if curr_cgpa>9:
      pass
  print("Award Ceremony")
  print("Parties in college")

curr_cgpa:  9.5
curr_cgpa:  8.2
curr_cgpa:  7.3
curr_cgpa:  5
Award Ceremony
Parties in college
curr_cgpa:  5.6
curr_cgpa:  9.8
curr_cgpa:  10
curr_cgpa:  7.1
curr_cgpa:  6
Award Ceremony
Parties in college
curr_cgpa:  6.2
curr_cgpa:  7.5
curr_cgpa:  9.3
Award Ceremony
Parties in college

In [22]:
l = [10,20,30,40]

for value in l:
  if value>20:
    continue
  print("Value: ", value)

Value:  10
Value:  20

In [23]:
l = [10,20,30,40]

for value in l:
  if value>20:
    pass
  print("Value: ", value)

Value:  10
Value:  20
Value:  30
Value:  40

In [24]:
l = [10,20,30,40]

for value in l:
  if value>20:
    # adding a line single comment
  print("Value: ", value)

IndentationError: expected an indented block after 'if' statement on line 4 (<ipython-input-24-270a9c82fd1c>, line 6)

### **Else in Loops**

In [25]:
# IF ELSE

value = 5

if value>6:
  print("Value more than 6: ", value)
else:
  print("Value less than 6: ", value)

Value less than 6:  5

In [26]:
# else in for loops

l = [10,20,30,40,50,60]

total_value = 0
for value in l:
  total_value += value
  print("curr_total_value: ", total_value)
else:
  print("In Else Block of for loop")

print("Outside For loop")

curr_total_value:  10
curr_total_value:  30
curr_total_value:  60
curr_total_value:  100
curr_total_value:  150
curr_total_value:  210
In Else Block of for loop
Outside For loop

In [27]:
l = [10,20,30,40,50,60]

for value in l:
  print("curr_value: ", value)
  if value == 45:
    break
else:
  print("In Else Block of for loop")

print("Outside For loop")

curr_value:  10
curr_value:  20
curr_value:  30
curr_value:  40
curr_value:  50
curr_value:  60
In Else Block of for loop
Outside For loop

In [28]:
l = [10,20,30,45,50,60]

for value in l:
  print("curr_value: ", value)
  if value == 45:
    break
else:
  print("In Else Block of for loop")

print("Outside For loop")

curr_value:  10
curr_value:  20
curr_value:  30
curr_value:  45
Outside For loop

In [29]:
l = [10,20,30,45,50,60]

for value in l:
  print("curr_value: ", value)
  if value == 60:
    break
else:
  print("In Else Block of for loop")

print("Outside For loop")

curr_value:  10
curr_value:  20
curr_value:  30
curr_value:  45
curr_value:  50
curr_value:  60
Outside For loop

**Understanding else in for loop**

1. if there is a break in a for loop, then else block of for loop will not be executed.

2. if there is no break in a for loop, then else block of for loop will be executed.

In [34]:
rcb_main_5 = ["virat", "faf", "maxi", "dhoni", "rohit"]

for player in rcb_main_5:
  print("curr_player: ", player)
  if player == "abd":
    break
else:
  print("In Else Block of for loop")
print("Outside For loop")

curr_player:  virat
curr_player:  faf
curr_player:  maxi
curr_player:  dhoni
curr_player:  rohit
In Else Block of for loop
Outside For loop

In [41]:
rcb_main_5 = ["virat", "faf", "maxi", "dhoni", "rohit"]

for player in rcb_main_5:
  print("curr_player: ",player)
  if player == "faf":
    print("inside break")
    break
else:
  print("In Else Block of for loop")
print("Outside For loop")

curr_player:  virat
curr_player:  faf
inside break
Outside For loop

In [44]:
l = [[1,2,3,4], [6,7,9,11]]

for curr_list in l:
  for value in curr_list:
    if value == 5:
      break
  else:
    print("In else block of inner for loop")
else:
  print("In else block of outer for loop")
print("Outside complete for loop")

In else block of inner for loop
In else block of inner for loop
In else block of outer for loop
Outside complete for loop

### **While loop - else**

In [45]:
i = 0
n = 10

while i<n:
  print("value i : ", i)
  if i==7:
    break
  i+=1
else:
  print("This is while loop else")
print("Outside while loop")

value i :  0
value i :  1
value i :  2
value i :  3
value i :  4
value i :  5
value i :  6
value i :  7
Outside while loop

In [47]:
i = 0
n = 10

while i<n:
  print("value i : ", i)
  if i==7:
    print("Venky")
  i+=1
else:
  print("This is while loop else")
print("Outside while loop")

value i :  0
value i :  1
value i :  2
value i :  3
value i :  4
value i :  5
value i :  6
value i :  7
Venky
value i :  8
value i :  9
This is while loop else
Outside while loop