### **Datatypes**

**Range**

In [2]:
range_val = range(5)
print(range_val)
print(type(range_val))
print(id(range_val))

range(0, 5)
<class 'range'>
140614795145024

In [3]:
list(range_val)

[0, 1, 2, 3, 4]

In [4]:
range_val2 = range(10,15)
print(list(range_val2))

[10, 11, 12, 13, 14]

In [5]:
range_val3 = range(10,29,3)
print(list(range_val3))

[10, 13, 16, 19, 22, 25, 28]

In [6]:
range_val4 = range(-5)
print(list(range_val4))

[]

In [7]:
range_val5 = range(-5,0)
print(list(range_val5))

[-5, -4, -3, -2, -1]

In [8]:
range_val6 = range(0,-5,-1)
print(list(range_val6))

[0, -1, -2, -3, -4]

In [9]:
#  step size in range should be integer
range_val7 = range(0,5,2.5)
print(list(range_val7))

TypeError: 'float' object cannot be interpreted as an integer

**Sets**

In [10]:
set_1 = {1,2,3,4,5}
print(set_1)
print(type(set_1))

{1, 2, 3, 4, 5}
<class 'set'>

In [11]:
set_2 = set((1,2,3,4,5))
print(set_2)
print(type(set_2))

{1, 2, 3, 4, 5}
<class 'set'>

In [14]:
# set is unordered, so indexing is not applicable
set_3 = {1,4,2,2.0,2.5,3.7,3,"Virat", "Rajini", "RBR"}
print(set_3)

{1, 2.5, 3.7, 2, 4, 3, 'Rajini', 'RBR', 'Virat'}

In [15]:
2==2.0

True

In [16]:
# set will contain unique values only

set_3.add("Rohit")
print(set_3)

{1, 2.5, 3.7, 2, 4, 3, 'Rajini', 'Rohit', 'RBR', 'Virat'}

In [17]:
set_3.add("RBR")
print(set_3)

{1, 2.5, 3.7, 2, 4, 3, 'Rajini', 'Rohit', 'RBR', 'Virat'}

In [18]:
# cannot use indexing
set_3[0]

TypeError: 'set' object is not subscriptable

In [19]:
# set is unordered, so indexing is not applicable
set_4 = {1,4,2.0,2,2.5,3.7,3,"Virat", "Rajini", "RBR"}
print(set_4)

{1, 2.5, 3.7, 2.0, 4, 3, 'Rajini', 'RBR', 'Virat'}

In [20]:
l = [1,4,2,2.0,2.5,3.7,3,"Virat", "Rajini", "RBR"]
l

[1, 4, 2, 2.0, 2.5, 3.7, 3, 'Virat', 'Rajini', 'RBR']

In [21]:
l[-1]

'RBR'

In [22]:
a = false

NameError: name 'false' is not defined

In [23]:
a = False
print(type(a))
print(a)

<class 'bool'>
False

In [24]:
False==0

True

In [25]:
True==1

True

In [26]:
set_5 = {"Virat", "123", True,12,1.2,1.0, False, 0.5}
print(set_5)

{False, True, 1.2, 0.5, 'Virat', '123', 12}

In [27]:
set_5.add(0)
print(set_5)

{False, True, 1.2, 0.5, 'Virat', '123', 12}

In [28]:
l = ['A','B','VIRAT','ROHIT','RAJINI']
l[2] = 'KOHLI'
l

['A', 'B', 'KOHLI', 'ROHIT', 'RAJINI']

In [30]:
# 'set' object does not support item assignment
s = {'A','B','VIRAT','ROHIT','RAJINI'}
s[2] = 'KOHLI'
s

TypeError: 'set' object does not support item assignment

In [31]:
# Mutability of a set - Set is Mutable

set_a = {1,2,5,9,10.2,"Kamal","Gayle"}
print(id(set_a))

140614792400000

In [32]:
set_a.add("Sachin")
print(set_a)
print(id(set_a))

{1, 2, 'Kamal', 5, 'Sachin', 9, 10.2, 'Gayle'}
140614792400000

In [33]:
set_b = {"1","2",1,2}
print(set_b)

{1, 2, '1', '2'}

In [37]:
# sets in Python cannot contain mutable elements like lists.

set_b.add(["A","B"])

TypeError: unhashable type: 'list'

In [38]:
set_b.add(("A","B"))
print(set_b)

{1, 2, '1', ('A', 'B'), '2'}

In [40]:
# sets cannot contain other sets. 
# Sets in Python must contain only hashable (immutable) types, 
# and sets themselves are mutable and therefore not hashable.

set_c = {1,2,('A','B'),{1,2,3}}
print(set_c)

TypeError: unhashable type: 'set'

In [41]:
l = [('A','B'),{1,2,3},[1,2],"2",1,1.0]
print(l)

[('A', 'B'), {1, 2, 3}, [1, 2], '2', 1, 1.0]

**Frozen Sets**

In [42]:
f_set_1 = frozenset((1,2,1.0,"KKR","CSK","MI"))
print(f_set_1)
print(type(f_set_1))

frozenset({1, 2, 'CSK', 'MI', 'KKR'})
<class 'frozenset'>

**Dictionary**

In [43]:
rcb_batter_scores = {"Virat":55, "Faf":25, "Green":20, "Maxi":0, 7:12}
print(rcb_batter_scores)
print(type(rcb_batter_scores))
print(id(rcb_batter_scores))

{'Virat': 55, 'Faf': 25, 'Green': 20, 'Maxi': 0, 7: 12}
<class 'dict'>
140614793087616

In [44]:
rcb_batter_scores.update({"DK":35})
print(rcb_batter_scores)
print(id(rcb_batter_scores))

{'Virat': 55, 'Faf': 25, 'Green': 20, 'Maxi': 0, 7: 12, 'DK': 35}
140614793087616

In [45]:
rcb_batter_scores['Lomrror']

KeyError: 'Lomrror'

In [46]:
rcb_batter_scores.update({"Virat":100})
print(rcb_batter_scores)
print(id(rcb_batter_scores))

{'Virat': 100, 'Faf': 25, 'Green': 20, 'Maxi': 0, 7: 12, 'DK': 35}
140614793087616

In [47]:
aus_batter_scores = {"Warner": 75, "Head": 100, "Maxi": 120, "David": 20, "Maxi": 70}
print(aus_batter_scores)
print(id(aus_batter_scores))

{'Warner': 75, 'Head': 100, 'Maxi': 70, 'David': 20}
140615150840448

In [48]:
dict_a = {"Virat":[56,25,26,100,85], "Rohit":[12,4,50,100,2]}
print(dict_a)

{'Virat': [56, 25, 26, 100, 85], 'Rohit': [12, 4, 50, 100, 2]}

In [49]:
dict_b = {"Virat":(56,25,26,100,85), "Rohit":(12,4,50,100,2)}
print(dict_b)

{'Virat': (56, 25, 26, 100, 85), 'Rohit': (12, 4, 50, 100, 2)}

In [50]:
# key must be immutable type

dict_c = {{1,2}:"str",2:4}
print(dict_c)

TypeError: unhashable type: 'set'

In [51]:
dict_d = {(1,2):"str",2:4}
print(dict_d)

{(1, 2): 'str', 2: 4}

In [52]:
# dictionary as a key
dict_e = {{"Virat":12, "rohit":12}:"Indian Players"}
dict_e

TypeError: unhashable type: 'dict'

In [53]:
# dictionary as a value
dict_e = {"Indian Players": {"Virat":12, "rohit":12}}
dict_e

{'Indian Players': {'Virat': 12, 'rohit': 12}}

In [ ]:
dict_e['Indian Players']

{'Virat': 12, 'rohit': 12}

In [ ]:
dict_f = {frozenset((1,2)):"Check Frozen"}
print(dict_f)

{frozenset({1, 2}): 'Check Frozen'}

**Boolean**

In [ ]:
print(bool(False))
print(bool(0))
print(bool(0.0))
print(bool(None))

False
False
False
False

In [ ]:
print(bool(True))
print(bool(1))
print(bool(1.0))
print(bool("STRING1"))
print(bool([1,2]))
print(bool((1,2)))

True
True
True
True
True
True

In [ ]:
bool('0')

True

In [ ]:
print(bool([]))
print(bool(()))
print(bool({}))
print(bool(""))

False
False
False
False

In [ ]:
print(bool(" "))
print(bool(0.00000000000000000000000000000000000000000000001))

True
True

In [ ]:
bool(complex(0.0,0.0001))

True

In [ ]:
# all might have same id
a = bool(False)
b = bool(0)
c = bool(0.0)
d = bool([])
e = bool(())

print(id(a))
print(id(b))
print(id(c))
print(id(d))
print(id(e))

101368900768768
101368900768768
101368900768768
101368900768768
101368900768768

**None**

In [57]:
a = None
print(type(a))

<class 'NoneType'>

**User Input**

In [56]:
name = input("Enter your name: ")
print(name)
print(type(name))

Vicky
<class 'str'>

In [54]:
marks = int(input("Enter Your Marks: "))
print(marks)
print(type(marks))

89
<class 'int'>

In [55]:
type(marks)

int