### **Print Statement**
* use of end
* use of sep

In [ ]:
print("Hello World")
print("Venky")

Hello World
Venky

use case of end in print statement

In [4]:
# use case of end
# default value of end is '\n'

print("Hello World", end="\n")
print("Venky")

Hello World
Venky

In [9]:
print("Hello World\n")  # extra newline due to \n
print("Venky")

Hello World

Venky

use case of sep in print statement

In [11]:
# use case of sep; default value is single space ie. " "
print("Hello", "Venky", "Gate")
print("Hello", "Venky", "Gate", sep=" ")

Hello Venky Gate
Hello Venky Gate

In [10]:
print("Hello", "Venky", "Gate", sep="")
print("Hello", "Venky", "Gate", sep="---")
print("Hello", "Venky", "Gate", sep="\n")

HelloVenkyGate
Hello---Venky---Gate
Hello
Venky
Gate

In [ ]:
print("Welcome to RBR Course", "This is Venky", sep="++", end="***")
print("Checkout to this course", end="\n\n")
print("Python programming")

Welcome to RBR Course++This is Venky***Checkout to this course

Python programming

## **Variables**

In [ ]:
2+3

5

In [ ]:
4+5

9

In [ ]:
# you are given a salary and u need to calculate the savings

v = 100000

expenditure = 10000 + 12000 + 30000

In [ ]:
v - 10000

90000

In [ ]:
v+12000

112000

## *is* operator:
- In Python, the `is` operator compares the identity of two objects, not their values. It returns True if both variables point to the same object in memory and False otherwise.
- **syntax**:
```python
variable1 is variable2
```
- For immutable objects (like strings, integers, and tuples), the `is` operator can sometimes return True if Python reuses the same object for optimization.
- For mutable objects (like lists, dictionaries, and sets), the `is` operator will typically return False even if the objects have the same content, because they are distinct objects in memory.

In [45]:
a = 100
b = 100

print(a is b)  # True, because small integers are interned

a = 1000
b = 1000

print(a is b)  # True or Flase, this behavior can vary across implementations

a = "hello"
b = "hello"

print(a is b)  # True, because strings are interned

x = (1,)
y = (1,)

print(x is y)  # True or Flase, this behavior can vary across implementations

a = [1, 2, 3]
b = [1, 2, 3]

print(a is b)  # False, because lists are mutable and distinct objects

a = {"key": "value"}
b = {"key": "value"}

print(a is b)  # False, because dictionaries are mutable and distinct objects

True
False
True
False
False
False

- **Checking for None:**
The `is` operator is commonly used to check if a variable is None, as this is more reliable and faster than using `==`.

In [46]:
a = None

if a is None:
    print("a is None")  # This is the preferred way to check for None

a is None

#### When to Use `is` vs `==`:
- Use `is` when you want to check if two variables point to the same object (identity comparison).
- Use `==` when you want to check if the values of two variables are equal (value comparison).

In [48]:
a = 500
b = 500
c = a

print(a == b)  # True, because the values are the same
print(a is b)  # False, because they are different objects

print(a == c)  # True, because the values are the same
print(a is c)  # True, because they refer to the same object

True
False
True
True

## *id()* function:

In Python, the id(variable) function returns the "identity" of the object referred to by variable. This identity is a unique integer that serves as a constant and unique identifier for the object during its lifetime.

Here are some key points about id():

- Uniqueness: The id of an object is unique and constant for the object during its lifetime. No two objects will have the same id at the same time.

- Memory Address: In CPython (the standard Python implementation), the id of an object is typically its memory address. However, this is an implementation detail and may vary in other Python implementations.

- Usage: The id function is useful for checking if two variables reference the same object.

In [17]:
value = 100

id(value)

140378550521168

In Python, when you assign a string (or any immutable object) to a variable, the interpreter might use the same memory location for identical strings to optimize memory usage. This is known as *"string interning"*. Because of this, the `id` of both `name` and `NAME_1` will be the same if they are assigned the same string value.

Here's an example demonstrating this:

In [38]:
name = "Ujjwal"
NAME_1 = "Ujjwal"

print(id(name))   # Prints the memory address of the string "Ujjwal" assigned to 'name'
print(id(NAME_1)) # Prints the memory address of the string "Ujjwal" assigned to 'NAME_1'

# Check if both variables point to the same object
print(name is NAME_1)  # True

140378217531952
140378217531952
True

The behavior of the id function and whether two variables have the same id depends on the type of the value and whether the values are identical.

- **Immutable Objects:**
For immutable objects (like strings, integers, and tuples), Python may optimize memory usage by reusing existing objects. This means that *small* identical immutable objects can have the same id. 
- For larger integers, Python may create separate objects:

In [39]:
a = 1000
b = 1000

print(id(a))  # Same id for both in most Python implementations
print(id(b))

print(a is b)  # True or False, depending on the implementation

140378226825264
140378226825296
False

- **Mutable Objects:** For mutable objects (like lists, dictionaries, and sets), Python always creates separate objects, so their id will be different even if the content is the same.

## type() function:
In Python, `type(variable)` is a built-in function that returns the type of the specified `variable` or `value`. The `type()` function can be used to:

1. **Identify the type of an object**: When passed a single argument, `type()` returns the type of the object.
2. **Create a new type**: When passed *three* arguments, `type()` can be used to dynamically create new types/classes.

Here are examples of both uses:

#### Identifying the Type of an Object

```python
a = 42
b = "Hello"
c = [1, 2, 3]

print(type(a))  # <class 'int'>
print(type(b))  # <class 'str'>
print(type(c))  # <class 'list'>
```

In this case, `type()` helps to determine that `a` is an integer, `b` is a string, and `c` is a list.

#### Creating a New Type

The `type()` function can also be used to create new types dynamically by passing three arguments: the name of the new class, a tuple of the base classes it should inherit from, and a dictionary containing attributes and methods.

```python
# Create a new type (class) dynamically
NewClass = type('NewClass', (object,), {'x': 5, 'display': lambda self: print(self.x)})

# Create an instance of the new class
instance = NewClass()

print(instance.x)  # 5
instance.display()  # 5
```

Here, `NewClass` is a new type (class) created with the name 'NewClass', inheriting from `object`, and having an attribute `x` with the value `5`, and a method `display` that prints the value of `x`.

In [25]:
type(value)

int

In [27]:
# Create a new type (class) dynamically named NewClass
NewClass = type('NewClass', (object,), {'x': 5, 'display': lambda self: print(self.x)})

# Create an instance of the new class
instance = NewClass()

print(instance.x)  # 5
instance.display()  # 5

5
5

In [19]:
a = 100

id(a)

140378550521168

In [22]:
a = 100
b = 100
print("id of a",id(a))
print("id of b",id(b))  # same as id of a, because of same and small value of a & b
print("After Changing")
b = b+20
print("b:", b)
print("id of a",id(a))
print("id of b",id(b))  # id of b changed after changing the value of b
a = 120
print ("re-assigning the value of a to same as of b")
print("id of a",id(a))  # id of a also becomes that of b

id of a 140378550521168
id of b 140378550521168
After Changing
b: 120
id of a 140378550521168
id of b 140378550521808
re-assigning the value of a to same as of b
id of a 140378550521808

In [23]:
print ("id of b:",id(b))
del a

id of b: 140378550521808

In [24]:
print("value of b:",b)
print("after deleting a, id of b:",id(b))   # id remains same after deleting a

value of b: 120
after deleting a, id of b: 140378550521808

In [28]:
f = 12.5
print("value of f:",f)
print("type of f:",type(f))
print("id of f:",id(f))

value of f: 12.5
type of f: <class 'float'>
id of f: 140378227373296

## *variable* or *identifier* in python:
In Python, a valid variable or identifier name must follow certain rules and conventions:

1. **Start with a letter or underscore (_)**: The name must begin with a letter (a-z, A-Z) or an underscore (_).
2. **Followed by letters, digits, or underscores**: After the initial character, the name can contain letters, digits (0-9), or underscores.
3. **Case-sensitive**: Python identifiers are case-sensitive, so `variable`, `Variable`, and `VARIABLE` are considered different names.
4. **No reserved keywords**: The name cannot be a reserved keyword in Python. Keywords are special words that have specific meanings and purposes in the language.

#### Examples of Valid Identifiers

- `my_variable`
- `variable1`
- `_hidden_variable`
- `CamelCaseVariable`

#### Examples of Invalid Identifiers

- `1variable` (cannot start with a digit)
- `my-variable` (contains a hyphen)
- `my variable` (contains a space)
- `class` (reserved keyword)

#### Checking Python Keywords

Python provides a module called `keyword` that can be used to check if a name is a reserved keyword:

In [29]:
import keyword

print(keyword.iskeyword('class'))  # True
print(keyword.iskeyword('variable'))  # False

True
False

#### List of Python Keywords

You can also get the list of all keywords in the current version of Python:

In [90]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']


#### Naming Conventions

While not enforced by the interpreter, following naming conventions can make your code more readable and maintainable:

- **snake_case** for variable and function names: `my_variable`, `calculate_total`.
- **CamelCase** for class names: `MyClass`, `EmployeeRecord`.
- **ALL_CAPS** for constants: `MAX_LIMIT`, `PI`.

By adhering to these rules and conventions, you can ensure that your variable and identifier names are valid and readable in Python.

In [31]:
# valid variable names
name = "venky"
age = 26
_salary = 12000

In [32]:
n8ame = "venky"

In [34]:
name = "Venky"
Name = "RBR"
NAME = "Jay Bansal"

NAME_2 = "Venky"
print(name)
print("id of name:",id(name))
print(Name)
print("id of Name",id(Name))
print(NAME)
print("id of NAME",id(NAME))
print(id(NAME_2))
print("id of NAME_2:",id(NAME_2))   # same id because of small value

Venky
id of name: 140378217544688
RBR
id of Name 140378217543536
Jay Bansal
id of NAME 140378227153904
140378217544688
id of NAME_2: 140378217544688

In [ ]:
name = "Venky"
name_2 = "VENKY"

print(id(name))
print(id(name_2))

137442586806832
137442585736176

In [58]:
# The removeprefix method is used to remove a specified prefix from a string if it starts with that prefix. 
# If the string does not start with the specified prefix, it returns the original string unchanged. 
# This method was introduced in Python 3.9.

name = "Venky"

name.removeprefix("Ven")

'ky'

In [67]:
k = 4/2
i = 2.0
i == k  # same value

True

In [76]:
i is k  # True or False depend on the Python implementation and version.

True

In [60]:
id(i)

140378226822960

In [61]:
id(k)

140378227374384

In [64]:
k

2.0

In [65]:
i

2.0

In [69]:
k = 4//2
i = 2
id(k)

140378550518032

In [70]:
id(i)

140378550518032

In [78]:
print (k is i)  # True or False depends on the Python implementation and version.
print (k == i)  # same value

True
True

In [79]:
k = 12345
m = 12345

id(k)

140378226825360

In [80]:
id(12)

140378550518352

In [84]:
136009076605520-136009076605456

64

In [94]:
id(10)

140378550518288

#### Floating-Point Imprecision:
- `from decimal import Decimal` imports the Decimal class for precise decimal arithmetic.
- Decimal(0.1 + 0.2) converts the imprecise floating-point result of 0.1 + 0.2 to a Decimal object, preserving the floating-point imprecision.
- Using Decimal with strings from the beginning ensures exact arithmetic, avoiding floating-point errors.

In [92]:
from decimal import Decimal
Decimal(0.1+0.2)

Decimal('0.3000000000000000444089209850062616169452667236328125')

In [111]:
# Using Decimal with strings from the beginning ensures exact arithmetic, 
# avoiding floating-point errors.

vn  = Decimal(0.1)+Decimal(0.2)
vn

Decimal('0.3000000000000000166533453694')

In [95]:
v = 0.5
n = 0.5

id(v)

140378227373200

In [97]:
id(n)

140378227374320

In [98]:
v = n
id(v)

140378227374320

In [99]:
id(n)

140378227374320

In [102]:
v = 1
n = 1
print(id(v))
print(id(n))

140378550518000
140378550518000

In [107]:
import decimal

a = decimal.Decimal('1.1')
b = decimal.Decimal('2.2')

c = a+b
print(c)

3.3

In [105]:
Decimal(0.5)

Decimal('0.5')

In [108]:
a = None
b = None

a==b

True

In [109]:
print(type(a))
print(type(b))

<class 'NoneType'>
<class 'NoneType'>

In [110]:
0.1

0.1