#### **Tuples**

1. Initializing tuples
2. Tuple with single item
3. Packing and Unpacking tuples
4. Accessing a Tuple & Slicing a tuple
5. Update a tuple (?)
6. del

In [1]:
# initialize a tuple

t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [2]:
t = tuple()
print(t)
print(type(t))

()
<class 'tuple'>

In [3]:
t = tuple([])
print(t)
print(type(t))

t = tuple(())
print(t)
print(type(t))

t = tuple("")
print(t)
print(type(t))

()
<class 'tuple'>
()
<class 'tuple'>
()
<class 'tuple'>

In [4]:
t = tuple(" ")
print(t)
print(type(t))

(' ',)
<class 'tuple'>

In [5]:
t1= (1)
t2 = 1
t3 = 1,
t4 = (1,)

print(t1)
print(t2)
print(t3)
print(t4)

print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))

1
1
(1,)
(1,)
<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [6]:
t1 = "a","b","c"
t2 = ("a","b","c")
print(t1)
print(t2)
print(type(t1))
print(type(t2))

('a', 'b', 'c')
('a', 'b', 'c')
<class 'tuple'>
<class 'tuple'>

In [7]:
i,j,k = ("a","b","c")
print(i)
print(j)
print(k)

a
b
c

In [10]:
a,b = (1,2,3,4,5,6,7)
print(a)
print(b)

ValueError: too many values to unpack (expected 2)

In [11]:
# use of * operator

a, *b = (1,2,3,4,5,6,7)

print(a)
print(b)
print(type(a))
print(type(b))

1
[2, 3, 4, 5, 6, 7]
<class 'int'>
<class 'list'>

In [12]:
a, *b, c, d = (1,2,3,4,5,6,7)

print(a)
print(b)
print(c)
print(d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

1
[2, 3, 4, 5]
6
7
<class 'int'>
<class 'list'>
<class 'int'>
<class 'int'>

In [13]:
a, *b, c, *d = (1,2,3,4,5,6,7)
print(b)
print(d)

SyntaxError: multiple starred expressions in assignment (<ipython-input-13-3c10fa4fa754>, line 1)

In [15]:
a, *b = (1,2)
c,d = (1,2)
print(a)
print(b)
print(c)
print(d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

1
[2]
1
2
<class 'int'>
<class 'list'>
<class 'int'>
<class 'int'>

In [19]:
a,b,c,d = (1,2)
print(a)
print(b)
print(c)
print(d)

ValueError: not enough values to unpack (expected 4, got 2)

In [20]:
a,b = [1,2,3]

ValueError: too many values to unpack (expected 2)

In [21]:
a, *b = [1,2,3]

print(a)
print(b)
print(type(a))
print(type(b))

1
[2, 3]
<class 'int'>
<class 'list'>

#### **Accessing tuples**

In [22]:
t = tuple("python")
print(t)
print(type(t))

('p', 'y', 't', 'h', 'o', 'n')
<class 'tuple'>

In [23]:
print(t[0])
print(t[-1])
print(t[5])

p
n
n

In [25]:
# slice a tuple

print(t[1:4])
print(t[1:])

('y', 't', 'h')
('y', 't', 'h', 'o', 'n')

In [26]:
l = list("python")
t = tuple("python")

l[0] = "m"
print(l)
t[0] = "k"
print(t)

['m', 'y', 't', 'h', 'o', 'n']

TypeError: 'tuple' object does not support item assignment

In [27]:
l = [1,2,3,4,5]

t = (1,2,3,l)

print(t)
print(id(t))

(1, 2, 3, [1, 2, 3, 4, 5])
137998969415024

In [28]:
print(id(l))
l[0] = 10
print(t)
print(id(l))
print(id(t))

137998968143616
(1, 2, 3, [10, 2, 3, 4, 5])
137998968143616
137998969415024

In [29]:
print(t)

(1, 2, 3, [10, 2, 3, 4, 5])

In [30]:
# Q1
t[3][0] = 100
print(t)

(1, 2, 3, [100, 2, 3, 4, 5])

In [31]:
# Q2

t[3] = [100,2,3,4,5]
print(t)

TypeError: 'tuple' object does not support item assignment

In [32]:
l = [1,2,3,4,5]
m = l

print(m)
print(l)
print(id(m))
print(id(l))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
137998968567104
137998968567104

In [34]:
l[0] = 1000

print(m)
print(l)

[1000, 2, 3, 4, 5]
[1000, 2, 3, 4, 5]

In [33]:
k = [1,2,3]
o = [1,2,3]

print(id(k))
print(id(o))

137998968182400
137998967714560

In [36]:
l = [1,2,3,4,5]

m = l.copy()

print(m)
print(l)
print(id(m))
print(id(l))

l[0] = 1000
print(l)
print(m)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
137998967979200
137998967819648
[1000, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [37]:
sub_list = ["a","b","c"]
l = [1,2,3,sub_list]
m = l.copy()
print(l)
print(m)
print(id(l))
print(id(m))

sub_list[1] = "Venky"

print(l)
print(m)
print(id(l))
print(id(m))

[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
137998967924096
137998970496960
[1, 2, 3, ['a', 'Venky', 'c']]
[1, 2, 3, ['a', 'Venky', 'c']]
137998967924096
137998970496960

In [38]:
import copy

sub_list = ["a","b","c"]
l = [1,2,3,sub_list]
m = copy.deepcopy(l)
print(l)
print(m)
print(id(l))
print(id(m))

sub_list[1] = "Venky"

print(l)
print(m)
print(id(l))
print(id(m))

[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
137998968143040
137998968140544
[1, 2, 3, ['a', 'Venky', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
137998968143040
137998968140544

In [39]:
t = (1,2,3)
t2 = (1,2,3)
print(id(t))
print(id(t2))

137998967655360
137998968184832

### **Updating a tuple**

In [41]:
t = ("python", "c", "c++")

t[1] = "Java"

TypeError: 'tuple' object does not support item assignment

In [42]:
temp = list(t)
print(temp)

['python', 'c', 'c++']

In [43]:
temp[1] = "Java"
print(temp)

['python', 'Java', 'c++']

In [45]:
t = tuple(temp)
print(t)

('python', 'Java', 'c++')

In [46]:
l = [1,2,3,4,5]

del l[1:3]
print(l)

[1, 4, 5]

In [47]:
l = (1,2,3,4,5)

del l[1:3]
print(l)

TypeError: 'tuple' object does not support item deletion

In [48]:
l = (1,2,3,4,5)

del l

In [49]:
l

NameError: name 'l' is not defined

In [50]:
# sort
# sorted

l = [1,10,5,8,9,12,11]
print(l)
print(id(l))
l.sort() # inplace sorting
print(l)
print(id(l))

[1, 10, 5, 8, 9, 12, 11]
137998967822912
[1, 5, 8, 9, 10, 11, 12]
137998967822912

In [52]:
l = [1,10,5,8,9,12,11]
print(l)
print(id(l))
print(sorted(l))
print(id(sorted(l))) # out of place sorting
print(l)
print(id(l))

[1, 10, 5, 8, 9, 12, 11]
137998967829568
[1, 5, 8, 9, 10, 11, 12]
137998968352320
[1, 10, 5, 8, 9, 12, 11]
137998967829568

In [59]:
l = [1,2,3,5,7,9,4]
sorted(l, reverse = True)

[9, 7, 5, 4, 3, 2, 1]

In [53]:
m = l.sort()
print(m)
print(type(m))

None
<class 'NoneType'>

In [54]:

l = [1,10,5,8,9,12,11]
print(l)
print(id(l))
l.sort(reverse=True) # inplace sorting
print(l)
print(id(l))

[1, 10, 5, 8, 9, 12, 11]
137998968143744
[12, 11, 10, 9, 8, 5, 1]
137998968143744

In [55]:
l = ['a','b','d','z','f']
l.sort()
print(l)

['a', 'b', 'd', 'f', 'z']

In [56]:
ord('f')

102

In [57]:
ord('z')

122

In [58]:
l = ['abc', 'aac', 'aca', 'cab','bca']
l.sort()
print(l)

['aac', 'abc', 'aca', 'bca', 'cab']

In [61]:
l = ['abc', 'aac', 'aca', 'cab','bca', "9", "10"]
l.sort()
print(l)

['10', '9', 'aac', 'abc', 'aca', 'bca', 'cab']

In [63]:
ord("1")

49

In [64]:
ord("9")

57

In [65]:
l = ["8948279632687268", "9"]
l.sort()
print(l)

['8948279632687268', '9']

In [70]:
l = [" ", "1", "a"]

l.sort(reverse=True)
l

['a', '1', ' ']

In [67]:
ord(" ")

32

In [71]:
ord("0")

48

In [69]:
ord("a")

97

In [72]:
# sort

# sorted

t = (1,2,3,5,7,9,4,12,10)

t.sort() # will fail

AttributeError: 'tuple' object has no attribute 'sort'

In [73]:
sorted(t) # always returns list object

[1, 2, 3, 4, 5, 7, 9, 10, 12]

In [74]:
sorted("Venky")

['V', 'e', 'k', 'n', 'y']

In [75]:
# reverse
l = list("Venkatesh")
print(l)

['V', 'e', 'n', 'k', 'a', 't', 'e', 's', 'h']

In [76]:
l.reverse() # equivalent to l[::-1]
print(l)  # reverse in place

['h', 's', 'e', 't', 'a', 'k', 'n', 'e', 'V']

In [78]:
list(reversed(l)) # out of place - creates new list

['V', 'e', 'n', 'k', 'a', 't', 'e', 's', 'h']

In [79]:
t = tuple("Venkatesh")

t.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [80]:
tuple(reversed(t))

('h', 's', 'e', 't', 'a', 'k', 'n', 'e', 'V')

In [81]:
# count

l = [1,2,3,1,2,4,3,2,1,3,2,1,5,2,1,4,5]

l.count(1)

5

In [82]:
l.count(6)

0

In [83]:
l = (1,2,3,1,2,4,3,2,1,3,2,1,5,2,1,4,5)

l.count(1)

5

In [85]:
k = "lkaslads"

k.count("l")

2

# **SETS**

1. Initializing a set
2. Accessing Set Items
3. How to add items to the set?
4. How to remove items from the set?
5. Methods supported in sets
   -  union
   -  intersection
   -  difference
   -  subset, superset, disjoint

In [86]:
# initializing a set

s = {}
print(s)
print(type(s))

{}
<class 'dict'>

In [88]:
s = {1}
print(s)
print(type(s))

{1}
<class 'set'>

In [87]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [89]:
s = {1,2,3,4,5}
print(s)
print(id(s))
s.add(8)
print(s)
print(id(s))

{1, 2, 3, 4, 5}
137998970011008
{1, 2, 3, 4, 5, 8}
137998970011008

In [90]:
s = {1,2,3,4,5,[1,2]}
print(s)

TypeError: unhashable type: 'list'

In [91]:
s = {1,2,3,4,5,{1,2}}
print(s)

TypeError: unhashable type: 'set'

In [92]:
s = {1,2,3,4,5,{1:2,2:4}}
print(s)

TypeError: unhashable type: 'dict'

In [93]:
s = {2,3,(2,3,5)}
print(s)

{2, 3, (2, 3, 5)}

In [94]:
t = (2,3,4,[3,5])

s = {1,2,t}
print(s)

TypeError: unhashable type: 'list'

In [95]:
# 1 , 1.0, True
# 0, 0.0, False

# above ones are treated as same in set

s = {1, True}
print(s)

{1}

In [96]:
hash(1)

1

In [97]:
hash(True)

1

In [99]:
hash((1,2,3,[12,3]))

TypeError: unhashable type: 'list'

In [101]:
len({1,2,3,5,7,10,5})

6

In [102]:
# accessing a set

s = {"Venky", "Rajini", "Kamal", "Allu Arjun", "Ramcharan"}

s[0]

TypeError: 'set' object is not subscriptable

In [105]:
"Venky" in s

True

In [106]:
s = {1,2,5.4,"abc", "1234",2.3,5}
print(s)

{1, 2, 2.3, '1234', 5, 5.4, 'abc'}

In [107]:
# adding a element to set and updating a set

s = {10,20,30}
s.add(40)
print(s)

{40, 10, 20, 30}

In [108]:
s.add(70,50,60)
print(s)

TypeError: set.add() takes exactly one argument (3 given)

In [109]:
s.add((70,50,60))
print(s)

{40, 10, 20, (70, 50, 60), 30}

In [110]:
s.add((10,20,30))
print(s)

{40, 10, (10, 20, 30), 20, (70, 50, 60), 30}

In [111]:
s = {10,20,30}
# update
t = {40,50,60}
s.update(t) # {10,20,30,40,50,60}
print(s)

{50, 20, 40, 10, 60, 30}

In [112]:
s.union(t)

{10, 20, 30, 40, 50, 60}

In [113]:
s = {1,2,3}
t = {4,5,6}
s.union(t)

{1, 2, 3, 4, 5, 6}

In [114]:
print(s)
print(t)

{1, 2, 3}
{4, 5, 6}

In [115]:
s = {1,2,3}
t = {4,5,6}
s.update(t)
s

{1, 2, 3, 4, 5, 6}

In [116]:
t2 = [10,20,30]
s.update(t2)

In [118]:
s.union(t2)

{1, 2, 3, 4, 5, 6, 10, 20, 30}

In [122]:
t2.union(s)

AttributeError: 'list' object has no attribute 'union'

In [120]:
a = {1,2,3}
b = [5,7,8, 3]

a.union(b)

{1, 2, 3, 5, 7, 8}

In [117]:
s

{1, 2, 3, 4, 5, 6, 10, 20, 30}

In [123]:
print(s)

{1, 2, 3, 4, 5, 6, 10, 20, 30}

In [124]:
s ={1,2,3}
s.update("RBR")
print(s)

{1, 2, 3, 'R', 'B'}

In [125]:
s ={1,2,3}
s.update(["RBR"])
print(s)

{1, 2, 3, 'RBR'}

#### **Remove Method**

In [126]:
s = {"Virat", "Rohit", "Dube", "Hardik"}

s.remove("Dube")
print(s)

{'Virat', 'Hardik', 'Rohit'}

In [127]:
s.remove("Dhoni")

KeyError: 'Dhoni'

In [128]:
# discard

s = {"Virat", "Rohit", "Dube", "Hardik"}

s.discard("Dube")
print(s)

{'Virat', 'Hardik', 'Rohit'}

In [129]:
s.discard("Dhoni")
print(s)

{'Virat', 'Hardik', 'Rohit'}

In [132]:
# pop

l = {1,2,3,4,5,"abc","12",1.5,24}

print(l.pop())
print(l)

1
{2, 3, 4, 5, 1.5, '12', 24, 'abc'}

In [133]:
print(l.pop())
print(l)

2
{3, 4, 5, 1.5, '12', 24, 'abc'}

In [134]:
print(l.pop(0))
print(l)

TypeError: set.pop() takes no arguments (1 given)

#### **Operations on Set**

In [135]:
# UNION

s = {1,2,3}
t = {4,5,6}
s.union(t)

{1, 2, 3, 4, 5, 6}

In [136]:
# union ---> |

a = {10,20,30}
b = {40,50,60}
a | b

{10, 20, 30, 40, 50, 60}

In [138]:
a = {1,2,3}
b = {4,5,6}
c = {7,8,9}
d = {10,11,12}
e = (14,15,16)
f = [17,18,19]
g = "Venky"

a.union(b,c,d,e,f,g)

{1,
 10,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'V',
 'e',
 'k',
 'n',
 'y'}

In [139]:
a = {1,2,3}
b = {4,5,6}
c = {7,8,9}
d = {10,11,12}
e = (14,15,16)
f = [17,18,19]
g = "Venky"

a | b | c | d

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [140]:
a | b | c| d | e | f | g

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [141]:
# intersection

a = {1,2,3,4}
b = {2,3,5,7}

a.intersection(b)

{2, 3}

In [142]:
print(a)

{1, 2, 3, 4}

In [144]:
a = {1,2,3,4}
b = {2,3,5,7}
c = {10,20,30,40,3}

a.intersection(b,c)

{3}

In [145]:
# &

a & b & c

{3}

In [146]:
a = {1,2,3}
b = [2,3,4]

a.intersection(b)

{2, 3}

In [147]:
a & b

TypeError: unsupported operand type(s) for &: 'set' and 'list'

In [148]:
# update , union

# intersection_update, intersection

a = {1,2,3,4}
b = {2,3,5,7}
a.intersection(b)

{2, 3}

In [149]:
print(a)

{1, 2, 3, 4}

In [150]:
a.intersection_update(b)

In [151]:
a

{2, 3}

In [152]:
a = {1,2,3,4}
b = {2,3,5,7}

a &= b

# &= -> intersection_update
# & -> intersection
# | -> union
# |= -> update

In [154]:
a

{2, 3}

In [155]:
a = {1,2,3,4}
b = {2,3,5,7}

a |= b

In [156]:
a

{1, 2, 3, 4, 5, 7}

In [157]:
# difference

a = {1,2,3,4}
b = {2,3,5,7}

a.difference(b)

{1, 4}

In [158]:
a

{1, 2, 3, 4}

In [159]:
a-b

{1, 4}

In [160]:
a

{1, 2, 3, 4}

In [161]:
a.difference_update(b)

In [162]:
a

{1, 4}

In [163]:
# -=  ---> difference_update

a = {1,2,3,4}
b = {2,3,5,7}
a-=b
print(a)

{1, 4}

In [164]:
# symmetric_difference

gate_da = {"ML", "Python", "LA", "Calculus", "Aptitude"}

gate_cs = {"OS", "C++", "LA", "Calculus", "Aptitude"}

gate_da.symmetric_difference(gate_cs)

{'C++', 'ML', 'OS', 'Python'}

In [165]:
# ^
gate_da ^ gate_cs

{'C++', 'ML', 'OS', 'Python'}

In [166]:
gate_da.symmetric_difference_update(gate_cs)

In [167]:
print(gate_da)
print(gate_cs)

{'C++', 'OS', 'Python', 'ML'}
{'C++', 'OS', 'Aptitude', 'LA', 'Calculus'}

In [ ]:
# ^= ---> symmetric_difference_update

In [168]:
a = {1,2,3,4,5,6}

a.clear()

In [169]:
a

set()

In [170]:
a = {1,2,3,4,5,6}

del a

In [171]:
a

NameError: name 'a' is not defined

In [172]:
a = {1,2,3,5}
b = a.copy()

In [173]:
# isdisjoint

a = {1,2,3,4}
b = {2,3,5,7}

a.isdisjoint(b)

False

In [174]:
a = {1,2,3,4}
b = {10,15,5,7}

a.isdisjoint(b)

True

In [175]:
# issuperset

a = {1,2,3,4}
b ={2,3,5,7}

a.issuperset(b)

False

In [176]:
a = {1,2,3,4,5,7,8}
b ={2,3,5,7}

a.issuperset(b)

True

In [177]:
b.issuperset(a)

False

In [178]:
# subset

a = {1,2,3,5}
b = {1,2}

a.issubset(b)

False

In [179]:
a = {1,2,3,5}
b = {1,2}

b.issubset(a)

True

### **Frozen Sets**

In [180]:
f = frozenset([])
print(f)
print(type(f))

frozenset()
<class 'frozenset'>

In [181]:
f = frozenset([10,20,30,1,True,0,False])
print(f)
print(type(f))

frozenset({0, 1, 10, 20, 30})
<class 'frozenset'>

In [182]:
f.add(12)

AttributeError: 'frozenset' object has no attribute 'add'

In [183]:
f.remove(10)

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
# UNION
# INTERSECTION
# DIFFERENCE
# SYMMETRIC_DIFFERENCE
# COPY

In [184]:
f1 = frozenset([10,20,30,1,True,0,False])
f2 = frozenset([100,200])
f1.union(f2)

frozenset({0, 1, 10, 20, 30, 100, 200})

In [185]:
f1 | f2

frozenset({0, 1, 10, 20, 30, 100, 200})