### **Variables**

In [1]:
print("abc")
print("venky")

abc
venky

In [2]:
# using semicolons

print("abc");
print("venky")

abc
venky

In [3]:
print("abc") print("venky")

SyntaxError: invalid syntax (1080233153.py, line 1)

In [4]:
print("abc"); print("venky"); a = 10; print(a)

abc
venky
10

In [5]:
# Indentation

print("abc")
 print("venky")

IndentationError: unexpected indent (565910000.py, line 4)

In [6]:
welcome_message = "Welcome to Python class"
print(welcome_message)

Welcome to Python class

In [7]:
# space not allowed while declaring

welcome message = "Welcome to Python Class"
print(welcome message)

SyntaxError: invalid syntax (2876864121.py, line 3)

In [8]:
_abc = 9
print(_abc)
9abc = 10
print(9abc)

SyntaxError: invalid decimal literal (1782106500.py, line 3)

In [10]:
_ = 100
print(_)

100

In [11]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [12]:
len(keyword.kwlist) # 35 keywords in python

35

In [13]:
False = 10
print(False)

SyntaxError: cannot assign to False (3550794659.py, line 1)

In [14]:
print("ABC")

ABC

In [15]:
print = 10  # the print function has been overwritten by an integer value.

In [26]:
# assign a name of the person
del print   # restore print function by deleting the reassignment
# 3 ways to restore print:
# Restart Your Kernel: This will reset the environment and remove any unintended reassignments of built-in functions.
# change the variable name to something else
# by deleting the reassignment

n = "Venky"
print(n)

Venky

In [27]:
name = "Venky"
s_n = "abi"
student_name = "abi"

In [ ]:
length_of_person_name = len(name)
name_length = len(name)

5

In [28]:
# try to avoid using Capital letters while assigning variables

NUM = 10
num = 10
print(NUM)
print(num)

10
10

### **Comments**

In [29]:
# Single Line Comment

"""
I'm explaining multiple line comments here
in Python class
"""
'''
explain
concepts
of
comments
'''

# explain
# concepts
# of
# comments
print("comments")

comments

### **Datatypes**

**Strings**

In [30]:
# A string is a series of characters

new_string = "This is a string"
new_string_2 = 'This is a string'
new_string_3 = 'This is a string'

print(new_string)
print(new_string_2)
print(type(new_string))
print(type(new_string_2))

This is a string
This is a string
<class 'str'>
<class 'str'>

In [31]:
print(id(new_string))
print(id(new_string_2))
print(id(new_string_3))

139972436589056
139972436587296
139972436583056

In [32]:
name = "Venky"
name_2 = "Venky"

print(id(name))
print(id(name_2))

139972920807536
139972920807536

In [33]:
a = 250
b = 250

print(id(a))
print(id(b))

c = 300
d = 300
print(id(c))
print(id(d))

139973042429968
139973042429968
139972918024784
139972918031056

In [34]:
message = 'I have watched "Indian-2" Audio Launch Yesterday.'
print(message)

I have watched "Indian-2" Audio Launch Yesterday.

In [35]:
string_1 = "This is a string"
string_2 = "This is a string "
string_1 == string_2

False

In [36]:
name = "Venky"
name_2 = "Venky  "
name_3 = "  Venky"
name_4 = " Venky "

In [37]:
name_2

'Venky  '

In [38]:
name_2.rstrip()

'Venky'

In [39]:
name_3

'  Venky'

In [ ]:
name_3.lstrip()

'Venky'

In [ ]:
name_4

' Venky '

In [40]:
name_4.strip()

'Venky'

In [41]:
first_name = "Venky"
last_name = "Viky"

first_name+" "+last_name

'Venky Viky'

**Numeric**

In [42]:
value = 10
print(type(value))

<class 'int'>

In [43]:
f_value = 10.2
print(type(f_value))

<class 'float'>

In [45]:
a = 10
b = 12
s = a+b
sub = a-b
mul = a*b
div = a/b
print(s)
print(type(s))
print(sub)
print(type(sub))
print(mul)
print(type(mul))
print(div)
print(type(div))

22
<class 'int'>
-2
<class 'int'>
120
<class 'int'>
0.8333333333333334
<class 'float'>

In [48]:
a = 10
b = 5
c = a/b

print(c)
print("type of c: ",type(c))

# floor division

d = a//b
print(d)
print("type of d: ",type(d))

2.0
type of c:  <class 'float'>
2
type of d:  <class 'int'>

In [49]:
a = 12
b = 5

c = a/b
print("c: ",c)
print("type of c: ",type(c))
d = a//b
print("d: ",d)
print("type of d: ",type(d))

a = 14
b = 5

c = a/b
print("c: ",c)
print("type of c: ",type(c))
d = a//b
print("d: ",d)
print("type of d: ",type(d))

c:  2.4
type of c:  <class 'float'>
d:  2
type of d:  <class 'int'>
c:  2.8
type of c:  <class 'float'>
d:  2
type of d:  <class 'int'>

In [50]:
a = 10
b = 0
print(a/b)

ZeroDivisionError: division by zero

In [52]:
f_value = 12.2
print("f_value: ",f_value)
print("type of f_value: ",type(f_value))
a = 12.2
b = 12.0
c = a+b
d = a-b
e = a*b
f = a/b
print("d: ",d)

f_value:  12.2
type of f_value:  <class 'float'>
d:  0.1999999999999993

In [53]:
from decimal import Decimal
Decimal(0.3)

Decimal('0.299999999999999988897769753748434595763683319091796875')

In [54]:
a = 0.1
b = 0.2
c = a+b
print("c: ",c)
print("type of c: ",type(c))

c:  0.30000000000000004
type of c:  <class 'float'>

In [56]:
from decimal import Decimal

a = Decimal('10.4')
b = Decimal('12.5')
c = a+b
print("c: ",c)
print("type of c: ",type(c))

c:  22.9
type of c:  <class 'decimal.Decimal'>

In [57]:
10.4+12.5

22.9

In [58]:
f = 12.0
i = int(f)
print(i)
print(type(i))

12
<class 'int'>

In [59]:
a = 12.56442845
round(a,2)

12.56

In [60]:
Decimal(0.1)

Decimal('0.1000000000000000055511151231257827021181583404541015625')

In [61]:
Decimal(0.1)

Decimal('0.1000000000000000055511151231257827021181583404541015625')

In [62]:
a = 10
b = 12.3
c = a+b
print(c)
print(type(c))

22.3
<class 'float'>

In [63]:
a = complex(12)
print(a)
print(type(a))
b = complex(12, 2)
print(b)
print(type(b))
a+b

(12+0j)
<class 'complex'>
(12+2j)
<class 'complex'>

(24+2j)

In [64]:
a = 0.2
b = 0.1
c = a+b
print(c)

0.30000000000000004

In [65]:
a = 4
b = 2

c = a/b
print(c)
print(type(c))

2.0
<class 'float'>

**Lists**

In [66]:
new_list = [2,4,6,10,12.4, 12.8, "Venky", "Gate", "Python", 128, "IPL", "VIRAT"]

In [67]:
type(new_list)

list

In [68]:
new_list[-3]

128

In [69]:
len(new_list)

12

In [70]:
new_list[0]

2

In [71]:
new_list[-12]

2

In [72]:
print(type(new_list))
print(id(new_list))

new_list[-1] = "Rohit"
print(new_list)
print(id(new_list))

<class 'list'>
139972437570688
[2, 4, 6, 10, 12.4, 12.8, 'Venky', 'Gate', 'Python', 128, 'IPL', 'Rohit']
139972437570688

In [73]:
new_list = [1,2,3]
print(new_list)
print(id(new_list))
print(id(new_list[0]))
new_list[0] = 10
print("Updated list: ", new_list)
print(id(new_list))
print(id(new_list[0]))

[1, 2, 3]
139972436746368
139973042422000
Updated list:  [10, 2, 3]
139972436746368
139973042422288

In [74]:
new_list = [2,2,3]
new_list2 = [270, 270, 300, 10000, 10000]
print("First list")
print(id(new_list[0]))
print(id(new_list[1]))
print("Second List")
print(id(new_list2[0]))
print(id(new_list2[1]))
print(id(new_list2[-1]))
print(id(new_list2[-2]))

First list
139973042422032
139973042422032
Second List
139972437651088
139972437651088
139972437650288
139972437650288

In [75]:
a = 10000
b = 10000

print(id(a))
print(id(b))

139972437654768
139972437655152

In [76]:
name = "Venky"
print(name)
print(id(name))

name = "Kenky"
print(name)
print(id(name))

Venky
139972920807536
Kenky
139972918929328

In [77]:
name[0] = "K"
print(name)

TypeError: 'str' object does not support item assignment

In [78]:
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[-1])
print(name[-2])
print(name[-3])
print(name[-4])
print(name[-5])

K
e
n
k
y
y
k
n
e
K

**Tuple**

In [79]:
new_tuple = (2,5,10,"Venky",12.5,2,5,10,"Viky")
print(new_tuple)
print(type(new_tuple))
print(id(new_tuple))

(2, 5, 10, 'Venky', 12.5, 2, 5, 10, 'Viky')
<class 'tuple'>
139972436069568

In [80]:
new_tuple[-1]

'Viky'

In [81]:
new_tuple = (2,4,6,10,12.4, 12.8, "Venky", "Gate", "Python", 128, "IPL", "VIRAT")

print(new_tuple[-1])

VIRAT

In [82]:
new_tuple_2 = (2,4,6,(21,4),[24,2],12.5,10,22,22,257,1000,10000,10000,257)

In [83]:
new_tuple[-1] = "Rohit"
print(new_tuple)

TypeError: 'tuple' object does not support item assignment

In [93]:
new_list1 = [1,2]
new_tuple1 = tuple(new_list1)
print("id of new_list1: ",id(new_list1))
print(new_tuple1)
print(type(new_tuple1))
print("id of new_tuple1: ",id(new_tuple1))

id of new_list1:  139972920729216
(1, 2)
<class 'tuple'>
id of new_tuple1:  139972436743232